body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 40px;

}

h1 {
    font-size: 50px;
}

.moni {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.mim {
    padding-top: 15%;
}

.link-button {
    text-decoration: none;
    background-color: rgb(71, 71, 184);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 20px;
}

.top-bannar {
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top 5px;
}

section {
    display: flex;



}

.mimm {
    width: 50%;
}

.mimm img {
    width: 80%;
}

.button {
    background-color: rgb(155, 83, 143);

    background-image: linear-gradient(rgb(226, 152, 14) rgb(80, 6, 6));
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 15px;
    font-weight: 700px;
    color: rgb(241, 240, 238);
}

.banner {
    background-image: url(images/icons/react.png);
    background-repeat: no-repeat;
}